.question-container{
    display: grid;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 305px;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    padding: 20px;
    background-color:white;
    grid-gap: 10px;
}

input{
    
}

.numberChoice{
    
}