@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
  background-color: goldenrod;
  
}
/* base styles */
* {
  font-family: "Quicksand"; /*Imported font*/
  color: black;
  text-align:center

}

.button{
  background-color: black;
  color: white;
  font-size: 20px
}

.wrapper{
  display: grid;
  margin: 200px;
  height: 100px
}