.grid-container{
    background-color: aquamarine;
}
.grid-item-1{
    border: 3px black solid;
}
.grid-item-2{
    border: 3px black solid;
}
.grid-item-3{
    border: 3px black solid;
}
.grid-item-4{
    border: 3px black solid;
}
.grid-item-5{
    border: 3px black solid;
}

.fa-icons{
    font-size: 60px;
    opacity: 0.5;
    color: #1e69da;
}