.grid-container{
    background-color: aquamarine;
}
.grid-item-1{
    border: 3px black solid;
}
.grid-item-2{
    border: 3px black solid;
}
.grid-item-3{
    border: 3px black solid;
}
.grid-item-4{
    border: 3px black solid;
}
.grid-item-5{
    border: 3px black solid;
}

.score-board{
    background-color: lavenderblush;
}
.fa-icons {
    font-size: 60px;
}

.animation {
    font-size: 30px;
    background-color: lavender;
}

.score-board {
    font-size: 30px;
}